/all coba.xlsx
/Copy_of_DM1_SD_A1_010_056_061_062_097.ipynb
/Copy_of_FP_Data_Mining_Kelompok_F_terbaru.ipynb
/DM1_SD_A1_010_056_061_062_097(1).ipynb
/DM1_SD_A1_010_056_061_062_097.ipynb
/fp datmin copy.ipynb
/fp datmin.ipynb
/hasil scraping
/PPT FINAL PROJECT DATMIN KEL.F.pdf